    body{
        background-color: #f8f9fa !important
    }

     #homePage, #foodPage, #lodgingPage{
        min-height: 80vh;
    }
    #bookingPage, #FAQPage{
        min-height: 70vh;
    }
    #FAQPage ul li{
        font-size: 1.3rem !important;
    }
    .hideMe, .hidden{
      display: none !important;
    }
    #header{
        min-height: 125px;
        background-color: rgb(255, 255, 255)
    }

    .navbar{
        min-height: 60px;
    }
    .navbar-brand, .largeText{
        font-size: 2.5rem !important;
    }
    .largeText{
        font-size: 5rem !important;
    }
    .nav-link, .tanitiText{
        font-size: 1.75rem !important;
    }
     .footerText{
        font-size: 1.3rem !important;
     }

    .bookBtn{
        background-color: #FFDB58 !important;
    }
    
    .bookBtn:hover, .bookBtn:active, .bookBtn:focus{
        background-color: #ed7315 !important;
    }

@media (max-width: 1100px) {
  #headerIcon {
    display: none !important;
  }
    .navbar-brand, .nav-link, .tanitiText, .largeText{
        font-size: 1.25rem !important;
    }
}
