    body{
        background-color: #f8f9fa !important
    }
    .hideMe{
      display: none;
    }
    #header{
        min-height: 125px;
        background-color: rgb(255, 255, 255)
    }

    .navbar{
        min-height: 60px;
    }
    .navbar-brand{
        font-size: 2.5rem !important;
    }
    .nav-link{
        font-size: 1.75rem !important;
    }
